#gallery{
  background-color: #ddd;
  height: 265px;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

#social-main{
  /* background-color:#333; */
  height:60px;
  margin-top: 5px;
  padding: 0;
}

#social-main .social ul{
  width: 164px;
  height:28px;
  padding: 0;
  margin: 0;
  /* background-color: green; */
}

#social-main .social ul li a{
 display: inline-block;
 background-color: #ddd;
 padding: 4px 7px;
 margin-left: 4px;
color: #F58634;
}

.list-inline>li {
  padding: 0;
}

.social{
  width: 100%;
}

 .navbar-brand img{
  height: 40px;
  margin-left: -14px;
}

.navbar-brand img:hover{
  opacity: 0.9;
}
.header4{
  border-radius: 0;
  padding: 0;
  margin: 5px 0 140px;
}

.header4 .container{
  padding: 0;
}

#bs-example-navbar-collapse-1{
   /* margin: 0; */
   padding: 0;
}
ul#menu-main-menu{
  margin: 0;
  padding: 0;
}
ul#menu-main-menu li{
  padding: 0;
  margin-right: 60px;
}

ul#menu-main-menu > li > a{
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  color: #000;
}

ul#menu-main-menu > li.active > a,
ul#menu-main-menu > li > a:hover,
ul#menu-main-menu > li > a:focus
 {
  color:#666;
  background-color: transparent;
}

ul.dropdown-menu{
  border: none;
  box-shadow: none;
}

ul.dropdown-menu li{
  height: 22px;
  width: 100%;
}

ul.dropdown-menu li a{
  text-align:left;
  padding-left: 0;
  font-size: 15px;
}

ul.dropdown-menu li a:hover {
  display: block;
  color: #fff;
  background-color: #F58634;
}

.navbar-toggle{
  margin-right: 0;
}

.navbar-toggle .icon-bar{
  width : 30px;
  height: 5px;
  background-color: #F58634;
}

.navbar-brand img{
  height: 30px;
  max-width: 82px;
}

@media (min-width: 768px) {
  .navbar-header .logo{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

ul#menu-main-menu li{
  margin-right: 40px;
}

}

/*Screen less than or equal to 768px*/
@media (max-width: 768px) {

  div#gallery{
    margin: 0 9px;
  }

  div#social-main{
    margin: 5px 9px 0;
  }

  .header4 .container{
    padding: 0 23px;
  }
  .navbar-header{
    margin: 0 -7px;
    /* background-color: green; */
  }
  /* Navbar logo */
  .navbar-header .logo{
    display: block;
  }
  #social-main{
    display: none;
  }

  /*navbar*/
  ul#menu-main-menu{
    margin: 0;
    padding: 0;
  }
  ul#menu-main-menu li{
    padding: 0;
    margin: 0;
  }

  ul#menu-main-menu > li > a{
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #fff;
  }

  ul#menu-main-menu > li.active > a,
  ul#menu-main-menu > li > a:hover,
  ul#menu-main-menu > li > a:focus
   {
    color: #666;
    background-color: transparent;
  }

  .dropdown-menu{
    padding: 0;
  }

  ul.dropdown-menu li > a:hover,
  ul.dropdown-menu li > a:focus
  {
    color:#fff;
    background-color: #F58634;
  }

}
