#gallery{
  padding: 0;
}

.navbar-brand img{
  height: 30px;
  max-width: 82px;
}

.navbar-brand img:hover{
  opacity: 0.9;
}

.header4{
  /* background-color: #ddd; */
  border-radius: 0;
  margin: 5px 0 140px;
}

.header4 .container{
  padding: 0;
}

.nav>li>a{
  padding-right: 0;
}

.navbar-collapse ul > li > a{
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.navbar-collapse ul > li.active > a,
.navbar-collapse ul > li > a:hover,
.navbar-collapse ul > li > a:focus
 {
   color:#666;
   background-color: transparent;
}


ul.dropdown-menu{
  border: none;
  box-shadow: none;
  min-width: 190px;
}

ul.dropdown-menu li{
  height: inherit;
  width: 100%;
}

ul.dropdown-menu li a{
  font-size: 15px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border: none;
}

.navbar-toggle .icon-bar{
  width : 30px;
  height: 5px;
  background-color: #F58634;
}

.navbar-toggle{
  margin-right: 0;
}

.header4{
  margin: 20px 0 15px;
}

/* Site Description */
.site-desc{
  background-color:#efefef;
  padding:4px;
  margin-bottom: 30px;
}

/* Title */
.project-title,
.single-post-title{
  text-align: left;
  font-size: 30px;
  color: #41c3d6;
  line-height: 1.4em;
}

/* Featured Image */
.project-featured-image img,
.single-post-featured-image img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.project-content,
.single-post-content{
  margin-top: 30px;
}

.single-post-content img{
  width: 100%;
  height: auto;
}

/* Projects and Single Post sidebar */
.widget-title{
  color: #00a685;
  font-size: 18px;
}

#projects-sidebar .widget ul,
#single-post-sidebar .widget ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#projects-sidebar .widget ul li,
#single-post-sidebar .widget ul li{
  margin-bottom: 10px;
}

/* CO-AUTHORS */
#single-post .post-meta {
  padding: 10px 0;
  font-size: 18px;
}

.coauthors-link a {
  text-transform: capitalize;
}

/*Media queries*/
@media ( max-width: 768px ){

  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-collapse{
    border: none;
  }

  .navbar-collapse ul{
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-brand{
    padding-left: 8px;
  }

  #single-post{
    padding-right: 15px;
    padding-left: 15px;
  }

}

@media (min-width: 768px){
  #single-post{
    padding:0;
  }
  .navbar-brand{
    padding: 8px 15px;
  }

  .navbar-right .dropdown-menu{
    left: 0;
  }

  .navbar-collapse > .navbar-right > li > a.dropdown-toggle{
    padding-bottom: 0;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .navbar-nav>li.dropdown{
    padding-bottom: 5px;
  }

  .navbar-nav>li>.dropdown-menu{
    border: 1px solid #eee;
    padding: 0;
  }

  ul.dropdown-menu li a{
    padding-bottom: 5px;
  }


  ul.dropdown-menu li a:hover {
    color: #fff;
    background-color: #F58634;
  }

}

/* For Orbit Query */
.border{
  width: 100%;
  height: 2px;
  background: #000;
  margin: 30px 0;
}

/* Shortcode */
.left-col{
  float: left;
  width: 48%;
}
.right-col{
  float: right;
  width: 48%;
}
